#icons {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* background-color: #db839f; */
}

.icon{
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30px;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
    width: 45px;
    outline: none;
    /* margin: 0 5px; */
}

.icon:hover .icon-label {
    opacity: 1;    
    transition: all 200ms ease;
    /* top: calc(100%); */
    /* -webkit-transform: translateY(150%); */
    transform: translateY(180%);
}

.icon-label {
    position: absolute;
    opacity: 0;
    text-align: center;
    /* color: #7069BC; */
    color: rgb(175, 11, 49);
}

.btn {
    border: none;
    background-color: transparent;
}

#top{
    background-color: #db839f;
    text-align: center;
    color:#FFFFFF;
    width: 100%;
    line-height: 40px;
    position: fixed;
    left: 0;
}

#top span{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Courier New', Courier, monospace;
}

#banner-icons{
    margin-right: 20px;
    margin-top: 10px;
    min-width: 116px;
}


#banner{
    background-color: #fff;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 50px;
}

@media(max-width: 650px) {
    #banner {
        flex-direction: column;
    }

    #search-icons {
        display: flex;
        justify-content: center;
    }
}

body{
    /* background-color: blanchedalmond; */
    margin: 0 20px;
    background-color: #fff;
    color: #000;
    font-family: "CeraPro","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
    height: 1000px;
    /* width: 100%; */
}


#nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: blanchedalmond; */
}

#nav a{
    height: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "CeraPro","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.4;
    color: palevioletred;
    text-decoration: none;
    padding: 0 35px;
    padding-top: 20px;
    
}

#nav a:hover{
    color:black;
    /* color: #f6a8a4;     */
    text-decoration: underline;
    transform: scale(1.1);
}

#nav a img{
    margin-top: 10px;
}

.header-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-grid img {
    width: 100%;
}

/* .header-grid img:hover {
    transform: scale(1.05);    
} */


.photo-lips {
    grid-area: 1 / 2 / 3 / 3;
}