#search-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 160px;
    z-index: 1000;
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
}

.label{
    font-size: 24px;
    font-weight: bold;
    /* font-family: Snell Roundhand, cursive; */
    text-align: center;
    color: palevioletred;
    letter-spacing: 2px;
}

.search-form {
    width: 60%;
    position: relative;
    margin: 0 auto;
    margin-top: 80px;
}

/*Remove the X icon in the input field: */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type="search"] {
    font-size: 16px;
    /* font-family: Snell Roundhand, cursive; */
    border: none;
    border-bottom: 2px solid palevioletred;
    height: 50px;
    max-width: 100%;
    width: 100%;
    transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align: center;
    letter-spacing: 2px;
    color: #6C6C6C;
    background-color: transparent;
    outline: none;
}

.search-form .btn {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 12px;
    outline: none;
}

.search-form .btn .icon {
    height: 20px;
    width: 20px;
}

#search-overlay-dimmer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 160px;
    background-color: rgba(255,255,255,0.95);
    z-index: 950;
}
